<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Vista General <span class="sr-only">(current)</span></a></li>
    <li><a href="#"><i class="fa fa-file" aria-hidden="true"></i> Reportes</a></li>
    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Analíticos</a></li>
    <li><a href="#"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Exportar</a></li>
  </ul>
</div>